{% extends 'base.html' %}
{% load static %}

{% block title %}Контакты - Profactive{% endblock %}

{% block content %}
<style>
  .map-container iframe {
    width: 100% !important;
    height: 100% !important;
    border: none;
    border-radius: 1.5rem;
  }
</style>
<main class="container-base">
  <!-- Hero -->
  <section class="pt-10 md:pt-17 lg:pt-25 pb-10 lg:pb-31">
    <div class="">
      <div class="mb-7 lg:mb-11">
        <p class="text-white/50 lg:text-xl mb-3.5">
          Получайте {% if referral_discount %}{{ referral_discount.percentage|floatformat:0 }}{% else %}6{% endif %}% с каждой продажи! </p>
        <h2 class="text-2xl md:text-4xl lg:text-[54px]">
          Контакты
        </h2>
      </div>

      <div class="bg-white/10 w-full rounded-3xl aspect-square md:aspect-[1200/544] max-h-136 overflow-hidden">
        {% if contact_page and contact_page.map_iframe %}
          <div class="map-container w-full h-full">
            {{ contact_page.map_iframe|safe }}
          </div>
        {% else %}
          <h2 class="text-2xl md:text-3xl lg:text-4xl font-semibold text-white/50 text-center flex items-center justify-center h-full">Яндекс карта</h2>
        {% endif %}
      </div>
    </div>
  </section>

  <!-- Уже зарегистрированы в реферальной программе? -->
  <section class="mb-12 md:mb-20 lg:mb-31">
    <div class="bg-gradient-banner min-h-111 rounded-3xl overflow-hidden">
      <div class="relative flex max-lg:flex-col lg:items-center justify-between gap-x-7 gap-y-6">
        <!-- Left -->
        <div class="px-4 md:px-6 lg:px-13.5 pt-6 lg:py-23.5 flex-1">
          <div class="w-full lg:max-w-145">
            <p class="font-medium md:text-lg lg:text-xl text-primary/50 mb-3.5">
              Получайте {% if referral_discount %}{{ referral_discount.percentage|floatformat:0 }}{% else %}6{% endif %}% с каждой продажи!
            </p>

            <h2 class="font-bold text-primary text-2xl md:text-3xl lg:text-basic-40/12.5 mb-6 md:mb-11 lg:mb-13.5">
              Уже зарегистрированы <br class="max-lg:hidden"> в реферальной программе?
            </h2>

            <a href="{% url 'referal' %}" class="inline-block bg-hover-primary font-semibold rounded-[14px] py-3.5 lg:py-5 px-7 lg:px-13.5">
              Узнать подробнее
            </a>
          </div>
        </div>
        <!-- Right -->
        <div class="md:max-w-90.5 relative max-lg:mx-auto lg:mr-32">
          <img class="relative z-0 size-full object-cover scale-[1.4]" src="{% static 'assets/images/IMG_20250924_141152_980.png' %}" alt="img">
        </div>

        <div class="max-lg:hidden absolute left-1/2 bottom-1/4 z-0 -translate-x-full translate-y-full text-primary">
          <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M32 0L40.6429 23.3571L64 32L40.6429 40.6429L32 64L23.3571 40.6429L0 32L23.3571 23.3571L32 0Z"
              fill="#1E1E1E" fill-opacity="0.882353" />
          </svg>
        </div>
        <div class="max-lg:hidden absolute right-0 top-0 z-0 -translate-x-11 translate-y-11">
          <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M32 0L40.6429 23.3571L64 32L40.6429 40.6429L32 64L23.3571 40.6429L0 32L23.3571 23.3571L32 0Z"
              fill="#1E1E1E" fill-opacity="0.882353" />
          </svg>
        </div>
      </div>
    </div>
  </section>

  <!-- Почему стоит выбрать -->
</main>
{% endblock %}